<section class="container" id="about-us">
 <div class=" about">
  <div class="text-contr">
  <h2 class="titl">ПРО  НАС</h2>
  <h3 class="podtitl">Відкрийте світ смаку та користі!</h3>
  <p class="poragraf">У Чайній Оазі ми пропонуємо  вибір найвищої якості чаю, що принесе вам миті насолоди та відновлення енергії. Наш асортимент включає у себе найкращі сорти з усього світу, від класичних чорних і зелених чаїв до
    квіткових та трав'яних комбінацій.</p>
    <p class="poragraf_p">Ми дбаємо про якість кожного нашого продукту, співпрацюючи тільки з надійними постачальниками, які дотримуються найвищих стандар-
      тів якості. Кожен чай в Чайній Оазі - це гарантія смаку і задоволення.</p>
</div>
      <picture>
        <source srcset="./img/aboutus/Rectanglemobi.jpg"  media="(max-width: 1199px)" >
        <source srcset="./img/aboutus/Rectanglemobi@2x.jpg"  media="(max-width: 1199px)">
        <source srcset="./img/aboutus/Rectangle9.jpg"  media="(min-width: 1200px)" >
        <source srcset="./img/aboutus/Rectangle92x.jpg" media="(min-width: 1200px)">
        <img src="./img/aboutus/Rectanglemobi.jpg" width="740px" height="972px" alt="ложки с чаем">

      </picture>
    </div>
    </section>