<section class="assortment">
  <h2>Асортимент</h2>
  <p class="assortment-p">Зробіть свій вибір з нашого асортименту та зробіть перший крок до нового рівня чайного задоволення. Замовляйте прямо зараз і отримайте можливість насолодитися справжньою якістю та смаком від Чайної Оази.</p>

  <div class="scroll-container">
    <button class="scroll-left" >&#8592;</button>
    <div class="scroll-wrapper">
      <div class="assortment-list">
        <div class="assortment-item">
          <picture>
            <source srcset="../img/assortment/Zel_2x.jpg" media="(min-width: 1200px)">
            <source srcset="../img/assortment/Zel_1.jpg" media="(min-width: 768px)">
            <img src="../img/assortment/Zel_1.jpg" alt="Зелений чай">
          </picture>
          <h3>Зелений</h3>
          <p>Плантаційний розсипний чай. 50 г.</p>
          <h4>Ціна: 300 грн.</h4>
          <button class="my-button" type="button">Придбати</button>
        </div>
        <div class="assortment-item">
          <picture>
            <source srcset="../img/assortment/Karkade_2x.jpg" media="(min-width: 1200px)">
            <source srcset="../img/assortment/Karkade_1.jpg" media="(min-width: 768px)">
            <img src="../img/assortment/Karkade_1.jpg" alt="Каркаде">
          </picture>
          <h3>Каркаде</h3>
          <p>Цілющий чай з квітами гібіскуса. 50 г.</p>
          <h4>Ціна: 350 грн.</h4>
          <button class="my-button" type="button">Придбати</button>
        </div>
        <div class="assortment-item">
          <picture>
            <source srcset="../img/assortment/Trawa_2x.jpg" media="(min-width: 1200px)">
            <source srcset="../img/assortment/Trawa_1.jpg" media="(min-width: 768px)">
            <img src="../img/assortment/Trawa_1.jpg" alt="Трав'яний чай">
          </picture>
          <h3>Трав'яний</h3>
          <p>Квітково-трав’яний.Альпійський чай.50г</p>
          <h4>Ціна: 450 грн.</h4>
          <button class="my-button" type="button">Придбати</button>
        </div>
        <div class="assortment-item">
          <picture>
            <source srcset="../img/assortment/Zel_2x.jpg" media="(min-width: 1200px)">
            <source srcset="../img/assortment/Zel_1.jpg" media="(min-width: 768px)">
            <img src="../img/assortment/Zel_1.jpg" alt="Зелений чай">
          </picture>
          <h3>Зелений</h3>
          <p>Плантаційний розсипний чай. 50 г.</p>
          <h4>Ціна: 300 грн.</h4>
          <button class="my-button" type="button">Придбати</button>
        </div>
        <div class="assortment-item">
          <picture>
            <source srcset="../img/assortment/Karkade_2x.jpg" media="(min-width: 1200px)">
            <source srcset="../img/assortment/Karkade_1.jpg" media="(min-width: 768px)">
            <img src="../img/assortment/Karkade_1.jpg" alt="Каркаде">
          </picture>
          <h3>Каркаде</h3>
          <p>Цілющий чай з квітами гібіскуса. 50 г.</p>
          <h4>Ціна: 350 грн.</h4>
          <button class="my-button" type="button">Придбати</button>
        </div>
      
      </div>
    </div>
    <button class="scroll-right">&#8594;</button>
  </div>
</section>
