
<section class="categories container" id="categories">
  <h2>КАТЕГОРІЇ</h2>
  <p class="category-p">
    Нехай чашка нашого чаю стане вашим санктуарієм спокою у суматошному світі.
    Поглибіться в ароматичні нотки і відчуйте, як стрес та напруга розтікаються,
    залишаючи вас знову зарядженими та відновленими.
  </p>
  <ul class="category-list">
    <li class="category-item">
      <picture>
        <source srcset="./img/categories/Orhanik_18_2x.jpg" media="(min-width: 1200px)">
        <source srcset="./img/categories/Orhanik_18.jpg" media="(min-width: 768px)">
        <img src="./img/categories/Orhanik_18.jpg" alt="Органічний">
      </picture>
      <h3>Органічний</h3>
    </li>
    <li class="category-item">
      <picture>
        <source srcset="./img/categories/Aromat_18_2x.jpg" media="(min-width: 1200px)">
        <source srcset="./img/categories/Aromat_18.jpg" media="(min-width: 768px)">
        <img src="./img/categories/Aromat_18.jpg" alt="Ароматний">
      </picture>
      <h3>Ароматний</h3>
    </li>
    <li class="category-item">
      <picture>
        <source srcset="./img/categories/Mata_18_2x.jpg" media="(min-width: 1200px)">
        <source srcset="./img/categories/Mata_18.jpg" media="(min-width: 768px)">
        <img src="./img/categories/Mata_18.jpg" alt="Мате">
      </picture>
      <h3>Мате</h3>
    </li>
    <li class="category-item">
      <picture>
        <source srcset="./img/categories/Erl_Hrej_18_2x.jpg" media="(min-width: 1200px)">
        <source srcset="./img/categories/Erl_Hrej_18.jpg" media="(min-width: 768px)">
        <img src="./img/categories/Erl_Hrej_18.jpg" alt="Ерл Грей">
      </picture>
      <h3>Ерл Грей</h3>
    </li>
  </ul>
</section>