<h1>Аня</h1>
<section class="categories">
<h2>Категорії</h2>
<p class="category-p">Нехай чашка нашого чаю стане вашим санктуарієм спокою у суматошному світі.
  Поглибіться в ароматичні нотки і відчуйте, як стрес та напруга розтікаються,
  залишаючи вас знову зарядженими та відновленими.</p>
<div class="category-list">
  <div class="category-item">
    <img src="../img/categories/Rectangle 18.jpg" alt="Органічний">
    <h3>Oрганічний</h3>
  </div>
  <div class="category-item">
    <img src="../img/categories/Rectangle 18-copy-0.jpg" alt="Ароматний">
    <h3>Ароматний</h3>
  </div>
  <div class="category-item">
    <img src="../img/categories/" alt="Мате">
    <h3>Мате</h3>
  </div>
  <div class="category-item">
    <img src="../img/categories/Frame 142.jpg" alt="Ерл Грей">
    <h3>Ерл Грей</h3>
  </div>
</div>
</section>