<footer class="container">
  <div class="logo-div-footer ">
    <a class="link" href="../index.html">
        <svg class="logo-footer">
            <use href="../img/icons.svg#icon-leaf" ></use>
        </svg>
        <p class="logo-text-footer">TEA</p>
    </a>


<ul class="social-list-footer">

     </a>
 </li>
 <li class="social-item-footer">
     <a class="social-link-footer" href="tel:+380961234567">
         <svg class="social-icon-footer" width="24" height="24">
             <use href="../img/icons.svg#phone-handset"></use>
         </svg>
     </a>
 </li>
 <li class="social-item-footer">
     <a class="social-link-footer" target="_blank" href="https://www.instagram.com/" >
         <svg class="social-icon-footer" width="24" height="24">
             <use href="../img/icons.svg#icon-instogram" ></use>
         </svg>
     </a>
 </li>
 <li class="social-item-footer">
     <a class="social-link-footer" target="_blank" href="https://www.telegram.com/" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
         <svg class="social-icon-footer" width="24" height="24">
             <use href="../img/icons.svg#icon-telegram"></use>
         </svg>
     </a>
 </li>
</ul>
</div>
<div class="navigation-wrapper-footer">
  <ul class="nav-list-footer">
      <li class="nav-item-footer">
          <a class="nav-link-footer" href="#about-us">Про нас



          </a></li>
      <li class="nav-item-footer">
          <a class="nav-link-footer" href="#categories">Категорії

          </a></li>
      <li class="nav-item-footer">
          <a class="nav-link-footer" href="#assortment">Асортимент



          </a></li>
      <li class="nav-item-footer">
          <a class="nav-link-footer" href="#reviews">Відгуки


          </a></li>
      <li class="nav-item-footer">
          <a class="nav-lin-footerk" href="#contacts">Контакти

          </a></li>
  </ul>
</div>
<div class="footer-card">
  <address>
    <p class=" gap">АДРЕС:<br><span class="srutur">Київ , Проспект свободи 28.</span></p>
  </address>
  <p class=" gap">ГРАФІК РОБОТИ:<br><span  class="srutur">Пн - Нд : <time>10:00 - 20:00</time></span></p>
  <p class="gap">ТЕЛЕФОН:<br>
    <a href="tel:+380671234567" class="inline-phone"><span class="srutur">38(067) 123 45 67</span></a> :
    <a href="tel:+380961234567" class="inline-phone"><span class="srutur">38(096) 123 45 67</span></a>
  </p>
<p class="gap">E-MAIL:
<a  href="mailo:teaoaza@gmail.com"><span  class="srutur emaill ">teaoaza@gmail.com</span></a>
</p>
</div>
</footer>
