<header class= "header hero">
    <div class="logo-div ">
        <a class="link" href="./index.html">
            <svg class="logo">
                <use href="../img/icons.svg#icon-leaf"></use>
            </svg>
            <p class="logo-text">Tea</p>
        </a>
    </div>
    <div class="navigation-wrapper">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="#about-us">Про нас</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#categories">Категорії</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#assortment">Асортимент</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#reviews">Відгуки</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Контакти</a></li>
            </ul>
    </div>
    <div class="social-wrapper">
       <ul class="social-list">
           <li class="social-item">
               <a class="social-link" target="_blank">
                   <svg class="social-icon" width="24" height="24">
                       <use href="../img/icons.svg#icon-basket"></use>
                   </svg>
               </a>
           </li>
           <li class="social-item">
               <a class="social-link" href="tel:+380961234567">
                   <svg class="social-icon" width="24" height="24">
                       <use href="../img/icons.svg#phone-handset"></use>
                   </svg>
               </a>
           </li>
           <li class="social-item">
               <a class="social-link" target="_blank" href="https://www.instagram.com/">
                   <svg class="social-icon" width="24" height="24">
                       <use href="../img/icons.svg#icon-instogram"></use>
                   </svg>
               </a>
           </li>
           <li class="social-item">
               <a class="social-link" target="_blank" href="https://www.telegram.com/">
                   <svg class="social-icon" width="24" height="24">
                       <use href="../img/icons.svg#icon-telegram"></use>
                   </svg>
               </a>
           </li>
       </ul>
       <button class="burger-menu">
        <svg class="burger-icon">
            <use href="../img/burger.svg#icon-burgercenter"></use>
        </svg>
        <svg class="burger-icon">
            <use href="../img/burger.svg#icon-burgercenter"></use>
        </svg>
        <svg class="burger-icon">
            <use href="../img/burger.svg#icon-burgercenter"></use>
        </svg>
       </button>
    </div>

</header>