<section class="reviews-section container" id="reviews">
  <h2 class="section-title">ВІДГУКИ</h2>
  <div class="swiper reviews-swiper">
    <ul class="swiper-wrapper reviews-wrapper">

      <li class="swiper-slide reviews-slide">
        <picture class="review-icon">
          <source srcset="./img/reviews/iryna.jpg 1x" media="(max-width: 767px)" />
          <source srcset="./img/reviews/iryna@2.jpg 2x" media="(min-width: 768px)" />
          <img src="./img/reviews/iryna.jpg" alt="icon" class="review-icon">
        </picture>
        <div class="review-info">
          <h3 class="review-name">Ірина</h3>
          <span class="review-rating">
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
          </span>
        </div>
        <p class="review-text">
          Дякую за відправлення, все отримала вчасно. Дуже смачні чайки. Обов’язково замовлю ще у
          вас.
        </p>
      </li>

      <li class="swiper-slide reviews-slide">
        <picture class="review-icon">
          <source srcset="./img//reviews/ihor.jpg 1x, ./img//reviews/ihor@2.jpg 2x" />
          <img src="./img//reviews/ihor.jpg" alt="icon" class="review-icon">
        </picture>
        <div class="review-info">
          <h3 class="review-name">Ігор</h3>
          <span class="review-rating">
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
          </span>
        </div>
        <p class="review-text">
          Смачний чай, при замовленні
          швидко відповідають,
          консультують, уважні до
          клієнтів. Рекомендую!!!
        </p>
      </li>

      <li class="swiper-slide reviews-slide">
        <picture class="review-icon">
          <source srcset="./img//reviews/margo.jpg 1x, ./img//reviews/margo@2.jpg 2x" />
          <img src="./img//reviews/margo.jpg" alt="icon" class="review-icon">
        </picture>
        <div class="review-info">
          <h3 class="review-name">Марго</h3>
          <span class="review-rating">
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
          </span>
        </div>
        <p class="review-text">
          Широкий асортимент якісних
          чаїв. Чудовий сервіс. Буду і надалі
          користуватися послугами вашого
          магазину!
        </p>
      </li>

      <li class="swiper-slide reviews-slide">
        <picture class="review-icon">
          <source srcset="./img/reviews/iryna.jpg 1x, ./img/reviews/iryna@2.jpg 2x" />
          <img src="./img/reviews/iryna.jpg" alt="icon" class="review-icon">
        </picture>
        <div class="review-info">
          <h3 class="review-name">Ірина</h3>
          <span class="review-rating">
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
          </span>
        </div>
        <p class="review-text">
          Дякую за відправлення, все отримала вчасно. Дуже смачні чайки. Обов’язково замовлю ще у
          вас.
        </p>
      </li>

      <li class="swiper-slide reviews-slide">
        <picture class="review-icon">
          <source srcset="./img//reviews/ihor.jpg 1x, ./img//reviews/ihor@2.jpg 2x" />
          <img src="./img//reviews/ihor.jpg" alt="icon" class="review-icon">
        </picture>
        <div class="review-info">
          <h3 class="review-name">Ігор</h3>
          <span class="review-rating">
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
          </span>
        </div>
        <p class="review-text">
          Смачний чай, при замовленні
          швидко відповідають,
          консультують, уважні до
          клієнтів. Рекомендую!!!
        </p>
      </li>

      <li class="swiper-slide reviews-slide">
        <picture class="review-icon">
          <source srcset="./img//reviews/margo.jpg 1x, ./img//reviews/margo@2.jpg 2x" />
          <img src="./img//reviews/margo.jpg" alt="icon" class="review-icon">
        </picture>
        <div class="review-info">
          <h3 class="review-name">Марго</h3>
          <span class="review-rating">
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
            <svg class="star">
              <use href="./img/icons.svg#icon-star" />
            </svg>
          </span>
        </div>
        <p class="review-text">
          Широкий асортимент якісних
          чаїв. Чудовий сервіс. Буду і надалі
          користуватися послугами вашого
          магазину!
        </p>
      </li>

    </ul>

    <div class="swiper-scrollbar"></div>
  </div>
</section>