.categories {
  padding: 50px 0;
  
}

.category-p {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: auto;
  font-size: 18px;
  text-align: center;
  color: var(--blacktxt);
  margin: 0 auto 30px;
  padding: 10px;
}

.categories h2 {
  font-weight: 500;
  font-size: 48px;
  color: #333;
  text-align: center;
}

.category-list {
  display: flex;
  justify-content: space-around;
  gap: 21px;
  flex-wrap: wrap;
}

.category-item {
  position: relative;
  text-align: center;
  width: 300px;
}

.category-item picture,
.category-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.category-item h3 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  margin-top: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  padding: 5px 10px;
  border-radius: 5px;
}

.category-item img:hover {
  transform: scale(1.05);
}

@media (min-width: 1200px) {
  .category-item {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .category-p {
    font-size: 16px;
    padding: 10px;
  }

  .category-list {
    flex-direction: column;
    align-items: center;
  }

  .category-item {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .category-p {
    font-size: 14px;
    padding: 15px;
  }

  .category-item {
    width: 100%;
  }
}
