.logo-div-footer {
  padding-top: 65px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;


}

.logo-footer {
  width: 26px;
  height: 38px;
  transition: transform 0.3s ease, filter 0.3s ease; /* Плавный переход для трансформации и фильтра */
}

.link:hover {
   color: #316F33;
   transition: transform 0.3s ease, filter 0.3s ease;
  transform: scale(1.1); /* Увеличиваем размер логотипа при наведении */
  filter: brightness(1.2); /* Увеличиваем яркость логотипа */
}




.logo-text-footer {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 34px;
  text-transform: uppercase;
  color: var(--blacktxt);

}
.social-wrapper-footer {
  display: flex;
  align-items: center;

}
.social-list-footer {
  display: flex;
  gap: 20px;
}


.navigation-wrapper-footer {
  display: flex;
  justify-content: center;
  padding-top: 70px;

}
.nav-list-footer {
  display: flex;
flex-direction: column;
gap: 20px;
padding-bottom: 30px;
}

.nav-link-footer {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
text-align: center;
color: var(--blacktxt);

}

.social-icon-footer {

stroke: var(--blacktxt);
fill: none;


}
.nav-lin-footerk {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
text-align: center;
color: var(--button);

}
.footer-card {
  display: flex;
 flex-direction: column;
 gap: 20px;
 text-align: center;
 padding-bottom: 44px;
}

.gap {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
color: var(--blacktxt);

}

.srutur {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--blacktxt);

text-transform: capitalize;
display: inline-block;
margin-top: 10px;
}

.emaill {
  text-transform: lowercase;
}

.inline-phone {
  display: inline;
  white-space: nowrap;
}


.nav-lin-footerk,
.nav-link-footer {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.nav-lin-footerk:hover,
.nav-link-footer:hover {
  color: var(--button);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.phone-link,
.email-link {
  color: var(--blacktxt); /* Цвет по умолчанию */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Плавный переход */
}

.phone:hover
 {
  color: green; /* Цвет при наведении */
  text-decoration: underline; /* Подчеркивание при наведении */
}

/* Для социальных иконок */
.social-item-footer:hover .social-icon-footer {
  fill: green; /* Цвет иконок при наведении */
  transition: fill 0.3s ease; /* Плавный переход цвета */
}

.social-link-footer {
  transition: transform 0.3s ease; /* Плавный переход для увеличения */
}

.social-link-footer:hover {
  transform: scale(1.1); /* Увеличение иконки при наведении */
}



@media only screen and (min-width: 1680px) {

.navigation-wrapper-footer {
  position: relative;
  bottom: 169px;
  padding: 0;
  right: 382px;
}




.social-list-footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logo-div-footer {
  align-items: baseline;

  height: 182px;
  padding: 0;
}

.footer-card {

  gap: 10px;
}

.srutur {
  position: relative;
  left: 200px;
  bottom: 19px;
  margin: 0;

}
.gap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}
.position {
  position: absolute;
  top: 3498px;
  left: 1018px;
  padding: 0;
}
.nav-list-footer {
  align-items: flex-start;
}
}