

.header {
  min-width: 320px;

  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.40) 69.73%), url(<path-to-image>) lightgray 50% / cover no-repeat;
} 
@media only screen and (min-width: 1680px) {
    .header{  
      max-width: 1680px;
      padding: 0 120px;
    }
} 
.logo-div {  
    margin-right: auto;
}
@media only screen and (min-width: 1680px) {
    .logo-div {  
      margin-right: auto;
    }
}
.link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo {
  fill: #FFFFFF;
  width: 26px;
  height: 38px;

} 
@media only screen and (min-width: 1680px) {
    .logo {  
      width: 34px;
      height: 42px; 
    }
}
.logo-text {
  color: #FFF;
  font-family: Bhavuka;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media only screen and (min-width: 1680px) {
    .logo-text {  
      font-size: 36px; 
    }
}
.navigation-wrapper {
  display: none; 
}
@media only screen and (min-width: 1680px) {
    .navigation-wrapper {
      display: flex; 
      margin-right: auto;
    } 
    .nav-list{
      display: flex; 
      align-items: center;
      color: #FFFFFF;
    }
    .nav-item {
      white-space: nowrap;
      margin-right: 31px; 
      padding: 0px 10px;
      
    }
    .nav-item:last-child {
      margin-right: 0; 
    }
    .nav-link {
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
}

.social-wrapper { 
  display: flex;
  align-items: center;
}
.social-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 20px;
}
@media only screen and (min-width: 1680px) {
  .social-list  { 
    flex-direction: row;
    margin-right: 0; 
  }
}
.social-item {
  width: 48px;
  height: 48px;
  padding: 11px 14px 13px 10px;
}
.social-item:nth-child(3), .social-item:nth-child(4) {
  display: none; 
}
@media only screen and (min-width: 1680px) {
  .social-item:nth-child(3), .social-item:nth-child(4) {
    display: flex; 
  }
}
.social-icon {
  fill: #FFFFFF;
}
.burger-menu {
  display: flex; 
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 28px;
  border-radius: 77px;
  background-color: #FFF;
}
.burger-icon {
  width: 26px;
  height: 1px; 
  background-color: #000; 
  border-radius: 2px; 
}
 @media (min-width: 1680px) {
.burger-menu  {
   display: none;
  } 
 }
