.hero{
  background: url("../img/hero/mobileback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background: url("../img/hero/mobilback@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.structure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  padding-top: 178px;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: var(--whitetxt);



}


.the_heading{

  font-family:"Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
text-align: center;
color:#fff;
padding-top: 35px;


}


.buy_button{
  padding: 10px 40px;
  width: 272px;
height: 40px;
background: #fcfbfb;
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 16px;
text-transform: uppercase;
text-align: center;
color: #000;
margin: 100px 28px 132px 28px
}


@media only screen and (min-width: 1680px) {
  .hero {
    background: url("../img/hero/Rectangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;


  }
  .structure {

    height: 976px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }
  .title {
    font-family: var(--font3);
font-weight: 700;
font-size: 80px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #ecebeb;
  }


  .the_heading {
width: 863px;
height: 88px;
font-size: 36px;
text-transform: none;
text-align: left;


  }
  .buy_button{
    padding: 22px 60px;
width: 338px;
height: 57px;



  }
}