.hero{
  background: url("../img/hero/mobileback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background: url("../img/hero/mobilback@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.structure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  padding-top: 178px;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: var(--whitetxt);



}


.the_heading{

  font-family:"Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
text-align: center;
color:#fff;
padding-top: 35px;


}


.buy_button {
  padding: 10px 40px;
  width: 272px;
  height: 40px;
  background: #fcfbfb; /* Цвет фона */
  font-family: "Montserrat", sans-serif; /* Шрифт */
  font-weight: 600; /* Жирность шрифта */
  font-size: 16px; /* Размер шрифта */
  text-transform: uppercase; /* Преобразование текста в верхний регистр */
  text-align: center; /* Выравнивание текста по центру */
  color: #000; /* Цвет текста */
  margin: 100px 28px 132px 28px; /* Отступы */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Указатель для курсора */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Плавные переходы */
}

.buy_button:hover {
  background-color: green; /* Цвет фона при наведении */
  transform: scale(1.05); /* Немного увеличиваем размер кнопки */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}


@media only screen and (min-width: 1680px) {
  .hero {
    background: url("../img/hero/Rectangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;


  }
  .structure {

    height: 976px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }
  .title {
    font-family: var(--font3);
font-weight: 700;
font-size: 80px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #ecebeb;
  }


  .the_heading {
width: 863px;
height: 88px;
font-size: 36px;
text-transform: none;
text-align: left;


  }
  .buy_button{
    padding: 22px 60px;
width: 338px;
height: 57px;



  }
}