@import 'normalize.css';
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./categories.css');
@import url('./assortment.css');
@import url('./reviews.css');
@import url('./footer.css');
/* @import url('./account.css'); */

@font-face {
  font-family: "Bhavuka";
  src: url("../fonts/Bhavuka-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/MontserratAlternates-Bold.woff2");
  font-weight: 700;
}

:root {
  --whitetxt: #fff;
  --bg: #fff;
  --blacktxt: #000;
  --button: #316f33;
  --button1: #fcfbfb;
  --bgburger: #b6c8b7;
  --red: #9f0000;

  --font-family: "Montserrat", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Bhavuka", sans-serif;
  --font3: "Montserrat Alternates", sans-serif;
}

body {
  font-family: var(--font-family);
}

.container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1680px) {
  .container {
    max-width: 1680px;
    padding: 130px 120px 0 120px;
  }
}
